version: '3'
services:
  proxy-stage:
    depends_on:
      - auth-stage
    image: aider24dev/images:proxy-service-stage
    ports:
      - "${PROXY_SERVER_PORT}:80"
      - "${PROXY_SSL_SERVER_PORT}:443"
    networks:
      - all-stage
  auth-stage:
    image: aider24dev/images:auth-service-stage
    env_file: auth/.env
    # volumes:
    #   - ./auth:/var/www/html
    depends_on:
      - vendor-stage
      - auth-db-stage
    networks:
      - all-stage
      - auth-stage
  vendor-stage:
    image: aider24dev/images:vendor-service-stage
    env_file: vendor/.env
    # volumes:
    #   - ./vendor:/var/www/html
    depends_on:
      - payment-stage
      - vendor-db-stage
    networks:
      - all-stage
      - vendor-stage
  payment-stage:
    image: aider24dev/images:payment-service-stage
    env_file: payment/.env
    # volumes:
    #   - ./payment:/var/www/html
    depends_on:
      - referral-stage
      - payment-db-stage
    networks:
      - all-stage
      - payment-stage
  referral-stage:
    image: aider24dev/images:referral-service-stage
    env_file: referral/.env
    # volumes:
    #   - ./referral:/var/www/html
    depends_on:
      - poynt-stage
      - referral-db-stage
    networks:
      - all-stage
      - referral-stage
  poynt-stage:
    image: aider24dev/images:poynt-service-stage
    env_file: poynt/.env
    # volumes:
    #   - ./poynt:/var/www/html
    depends_on:
      - api-gateway-stage
      - poynt-db-stage
    networks:
      - all-stage
      - poynt-stage
  api-gateway-stage:
    image: aider24dev/images:api_gateway-service-stage
    env_file: api_gateway/.env
    # volumes:
    #   - ./api_gateway:/var/www/html
    depends_on:
      - api-gateway-db-stage
    networks:
      - all-stage
      - gateway-stage
  auth-db-stage:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: '${AUTH_DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${AUTH_DB_DATABASE}'
      MYSQL_USER: '${AUTH_DB_USERNAME}'
      MYSQL_PASSWORD: '${AUTH_DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    ports:
      - "2306:3306"
    volumes:
      - ./mysqldata/auth_db:/var/lib/mysql
    networks:
      - all-stage
  referral-db-stage:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: '${REFERRAL_DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${REFERRAL_DB_DATABASE}'
      MYSQL_USER: '${REFERRAL_DB_USERNAME}'
      MYSQL_PASSWORD: '${REFERRAL_DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./mysqldata/referral_db:/var/lib/mysql
    networks:
      - referral-stage
    ports:
      - 2305:3306
  vendor-db-stage:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: '${VENDOR_DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${VENDOR_DB_DATABASE}'
      MYSQL_USER: '${VENDOR_DB_USERNAME}'
      MYSQL_PASSWORD: '${VENDOR_DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./mysqldata/vendor_db:/var/lib/mysql
    networks:
      - vendor-stage
    ports:
      - 2304:3306
  payment-db-stage:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: '${PAYMENT_DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${PAYMENT_DB_DATABASE}'
      MYSQL_USER: '${PAYMENT_DB_USERNAME}'
      MYSQL_PASSWORD: '${PAYMENT_DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./mysqldata/payment_db:/var/lib/mysql
    networks:
      - payment-stage
    ports:
      - 2303:3306
  api-gateway-db-stage:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: '${API_GATEWAY_DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${API_GATEWAY_DB_DATABASE}'
      MYSQL_USER: '${API_GATEWAY_DB_USERNAME}'
      MYSQL_PASSWORD: '${API_GATEWAY_DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./mysqldata/api_gateway_db:/var/lib/mysql
    networks:
      - gateway-stage
    ports:
      - 2302:3306
  poynt-db-stage:
    image: mysql/mysql-server:8.0
    environment:
      MYSQL_ROOT_PASSWORD: '${POYNT_DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${POYNT_DB_DATABASE}'
      MYSQL_USER: '${POYNT_DB_USERNAME}'
      MYSQL_PASSWORD: '${POYNT_DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - ./mysqldata/poynt_db:/var/lib/mysql
    networks:
      - poynt-stage
    ports:
     - 2301:3306
networks:
  all-stage:
    driver: bridge
  auth-stage:
    driver: bridge
  poynt-stage:
    driver: bridge
  referral-stage:
    driver: bridge
  payment-stage:
    driver: bridge
  gateway-stage:
    driver: bridge
  vendor-stage:
    driver: bridge



#sudo docker run -d --name watchtower -e REPO_USER=aider24dev -e REPO_PASS=dckr_pat_xV9YkKXI6VzGsk4PImK1l3U_mfw  -v /var/run/docker.sock:/var/run/docker.sock --restart=always containrrr/watchtower --interval 30 --cleanup